<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fehorizon.dao.DeptInfoMapper">
  <resultMap id="BaseResultMap" type="com.fehorizon.model.DeptInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dept_no" jdbcType="INTEGER" property="deptNo" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="sheet_name" jdbcType="VARCHAR" property="sheetName" />
  </resultMap>
</mapper>